@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Lato:wght@400;900&display=swap');

$title-font: 'Cardo', serif !important;
$text-font:  'Lato', serif !important;

$title-size: 700 !important;
$medium-text-size: 400 !important;
$black-text-size: 900 !important;

$white: #e9e7e7 !important;
$black: #232323 !important;
$grey: #c4c4c4 !important;