@media (min-width: 1000px) {
  h1 {
    font-size: 4.18rem;
  }

  .first-section {
    .col-12 {
      padding: 0 115px 0 30px;
    }
  }

  .third-section {
    .card {
      width: 300px;
    }
  }

  .third-section {
    .carousel-control-prev {
      left: -50px;
    }

    .carousel-control-next {
      right: -50px;
    }
  }
}
